@tailwind base;
@tailwind components;
@tailwind utilities;


/* Contact Form */
.contact-form {
  background-color: #ffffff;
  padding: 60px 0;
}

.contact-form .container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}

.contact-form button {
  background-color: #d02525;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client-logos h2 {
  font-size: 48px;
  color: #333;
}

.contact-form button:hover {
  background-color: #b01e1e;
}

@media (max-width: 768px) {
  .contact-form .container {
    padding: 0 20px;
  }
  
  .contact-form h2 {
    font-size: 28px;
  }
}